[core]
  autocrlf = input

[user]
	name = Ruben Aguiar
	email = ruben@triggerise.org
	username = raguiar9800

[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
