[core]
  autocrlf = input
[user]
	name = Ruben Aguiar
  email = r.aguiar9080@gmail.com
  username = raguiar9080
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[pull]
    rebase = true

# commit -v
# status -s
